autotools/*
autom4te.cache/*
libtool
Makefile
Makefile.in
aclocal.m4
configure
config.log
/bin/.deps
/bin/.libs
/bin/*.o
/bin/ui*.h
/bin/qrc_diamond.cpp
/bin/Makefile*
/bin/Diamond.exe
/resources/all/*
/resources/setA/*
/resources/old/*
/samples/*
/deploy/*.*
/doxy/old*.html
/hold/*