autom4te.cache/*
autotools/build-aux/*
autotools/m4/lt*.m4
autotools/m4/libtool.m4
config.status
libtool
Makefile
Makefile.in
aclocal.m4
configure
config.log
do-config
do-update-hunspell
diamond*.tar.gz
Diamond.creator.user*

/bin/.deps
/bin/.libs
/bin/**/.deps
/bin/**/.libs
/bin/*.o
/bin/ui*.h
/bin/qrc_diamond.cpp
/bin/Makefile
/bin/Diamond.exe
/bin/src

/deploy/
/hunspell/
/hunspell_lib/
/install/
/source_extra/*.tar.bz2
/source_extra/*.zip

src/diamond_build_info.h